body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section { margin: 0; padding: 0; border: 0; }
html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #333;
    min-height: 100%;
    font-size: 100%;
    background-color: #d7d7d7;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,nav,section,audio,canvas,video {
    display: block;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
b, strong {
    font-weight: bold;
}
input,
textarea,
button,
select {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
*  Simple fluid media
*/
figure {
    position: relative;
}
figure img,
figure object,
figure embed,
figure video {
    max-width: 100%;
    display: block;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

::-webkit-input-placeholder { color: #666;}

a {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}

hr {
    margin: 0 1%;
    border: 0;
    display: block;
    border-top: 1px solid #BBB;
    width: 98%;
    float: left;
}

.ad-notice {
    display: block;
    text-align: center;
    color: #888;
    letter-spacing: 3px;
    font: 9px/16px "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}

.donor, .donor2, .donor3, .donor4, .donorUq1, .donorUq2, .donorUq3, .donorUq4, .donorUq5, .staff, .sr {
    padding-left: 20px;
}
.donor { text-shadow: 0px 1px 2px #5E98D9; background: url(../img/donor.png) no-repeat left; }
.donor2 { text-shadow: 0px 1px 2px #4B69FF; background: url(../img/donor2.png) no-repeat left; }
.donor3 { text-shadow: 0px 1px 2px #8847FF; background: url(../img/donor3.png) no-repeat left; }
.donor4 { text-shadow: 0px 1px 2px #FFAF00; background: url(../img/donor4.png) no-repeat left; }
.donorUq1 { text-shadow: 0px 1px 2px #cf5300; background: url(../img/donoruq1.png) no-repeat left; }
.box-shiny-alt .donorUq1 { text-shadow: 0px 1px 2px #cf5300; }
.donorUq2 { text-shadow: 0px 1px 2px #FA9696; background: url(../img/donoruq2.png?1) no-repeat left; }
.box-shiny-alt .donorUq2 { text-shadow: 0px 1px 2px #FA9696; }
.donorUq3 { text-shadow: 0px 1px 2px #5CD809; background: url(../img/donoruq3.png?2) no-repeat left; }
.box-shiny-alt .donorUq3 { text-shadow: 0px 1px 2px #5CD809; }
.donorUq4 { text-shadow: 0px 1px 2px #FF0000; background: url(../img/donoruq4.png?1) no-repeat left; }
.box-shiny-alt .donorUq4 { text-shadow: 0px 1px 2px #FF0000; }
.donorUq5 { text-shadow: 0px 1px 2px #00ff00; background: url(../img/donoruq5.png) no-repeat left; }
.box-shiny-alt .donorUq5 { text-shadow: 0px 1px 2px #00ff00; }

.staff { text-shadow: 0px 1px 2px #8EC13E; background: url(../img/staff.png) no-repeat left; }
.sr { text-shadow: 0px 1px 2px #f20000; background: url(../img/sr.png) no-repeat left; }

.tab {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #888;
    font-weight: bold;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #AAA;
    line-height: 1.7em;
    box-shadow: 0 1px #888;
}

.tab:hover {
    background-color: #444;
    color: #8EC13E !important;
}

.tabholder {
    float: left;
    width: 96%;
    margin: 0 2%;
    height: 26px;
    top: 27px;
    border-radius: 0 0 5px 5px;
    position: relative;
    overflow: hidden;
}

.tabselect {
    float: left;
    width: 96%;
    margin: 0 2% 8px 2%;
    height: 26px;
    top: 27px;
}

.tabselect:hover .subtabs {
    display: block;
    position: relative;
    z-index: 2;
}

.subtabs {
    float: left;
    width: 100%;
    display: none;
}

.gradient {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    border-bottom: 1px solid #373737;
    background: #333; /* Old browsers */
    background: -webkit-linear-gradient(bottom,  #4b4b4b 0%,#252525 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  #4b4b4b 0%,#252525 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  #4b4b4b 0%,#252525 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4b4b4b 0%,#252525 100%); /* W3C */
}

.gradient a {
    color: #8EC13E;
}

#noteEdit {
    height: 100px;
    background: #333;
    color: #9AD243;
}

#news {
    float: left;
    display: block;
    width: 100%;
    margin-top: 0.75em;
}

#news a {
    color: #8EC13E;
}

#messages {
    width: 100%;
    float: left;
}

#messages #notes {
    float: left;
    width: 96%;
    height: 45px;
    padding: 1%;
}

#messages .left, #messages #replyTo {
    background: #BBB;
    float: left;
    width: 45%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
}

#messages .left .item {
    float: left;
    width: 10.5%;
}

.msgleft {
    margin: 0.75em 1%;
    font-size: 0.8em;
}

.msgright {
    float: right;
    margin: 0.75em 1%;
    width: 48%;
}

.msgright .item {
    width: 23%;
}

.notification {
    float: left;
    padding: 5px;
    margin: 0.4em;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #9BEB1F;
    border-radius: 5px;
    background-color: #8EC13E;
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}

header {
    float: left;
    color: #dfdfdf;
    width: 99%;
    padding: 6px 0.5%;
    border-bottom: 1px solid #444;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.40);
    background: #252525; /* Old browsers */
    background: -webkit-linear-gradient(bottom,  #222 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  #222 0%,#333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  #222 0%,#333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222 0%,#333 100%); /* W3C */
}

header a {
    color: #8EC13E;
}

.standard {
    float: left;
    width: 96%;
    margin: 0.75em 2%;
}
.standardright {
    float: right;
    margin: 0.75em 2%;
}

#login {
    background-image: url(http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png);
    display: block;
    float: right;
    width: 154px;
    height: 23px;
    position: absolute;
    top: 34px;
    right:10px;
}

#lang, #skin {
    opacity: 0.5;
    display: block;
    float: right;
    margin: 1px;
    width: 34px;
    height: 22px;
    position: absolute;
    overflow: hidden;
    padding: 5px;

}

#lang {
    top: 60px;
    right: 10px;
}

#skin {
    top: 60px;
    right: 54px;
}

#lang a, #skin a {
    margin: 1px;
    display: block;
}

#lang:hover, #skin:hover {
    opacity: 1;
    border: 1px solid #333;
    margin: 0;
    height: auto;
    overflow: auto;
    background-color: #373737;
}

#logout {
    background-image: url(../img/logout_small.png);
    display: block;
    float: right;
    width: 88px;
    height: 23px;
    position: absolute;
    top: 34px;
    right:10px;
}

#logo {
    display: block;
    float: left;
    height: 45px;
}

#menu {
    font: 0.65em "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    float: left;
    list-style-type: none;
}

#menu li {
    height: 41px;
    margin-right: 5px;
    text-align:center;
    display: block;
    float: left;
    text-shadow: 1px 1px #000;
}

#menu li:hover {
    opacity:0.4;
}

#menu li  img {
    display: none;
    float: left;
    width: 24px;
    height: 30px;
    margin: 5px 2px;
}

#menu li span {
    float: left;
    margin: 16px 0 0 5px;
}

#menu .notification {
    position: absolute;
    color: #000;
    font-size: 0.8em;
    padding: 4px;
}

.info {
    border-radius: 8px;
    font-size: 8px;
    padding: 0px 2px;
    border: 1px solid;
    background: #8EC13E;
    font-weight: bold;
    color: #000;
}

.info:hover .infobox {
    font-size: 11px;
}

#profile #avatar {
    margin: 0.75em 0 0 0.75em;
    float: left;
    width: 25%;
    max-width: 184px;
}

.profilesmall {
    float: left;
}

.profilesmall a {
    color: #8EC13E;
    float: left;
}

.profilesmallheader {
    margin-left: 0.75em;
    float: left;
    font-size: 0.8em;
}

.block {
    float: left;
    margin: 0.5em 1%;
    width: 98%;
}

.title {
    position: absolute;                
    margin-left: 0.5%;
    color: #CCC;  
    font-size: 2em;
    z-index: 0;
    font-weight: bold;
    text-transform: capitalize;
}

.title a {
    color: #CCC;
}

.title:hover a {
    color: #8EC13E;
    text-shadow: 1px 1px 1px #888;
}

.box {
    width: 99%;
    display: block;
    float: left;
    margin: 10px 0.5%;
}

#backpack {
    font: 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #252525;
    float: left;
    padding-top: 0.75em;
    width: 100%;
}

#matches a {
    color: #252525;
}

#itemlist {
    float: left;
    width: 100%;
}

.message {
    word-wrap: break-word;
    width: 98%;
    margin: 1px 1% 20px 1%;
    float: left;
    border: none;
    overflow-x: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: -1px -1px 1px #C5C5C5;
    background: #CCC;
    background: -webkit-radial-gradient(0 0, ellipse cover,  #BBB 0%,#D7D7D7 50%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(0 0, ellipse cover,  #BBB 0%,#D7D7D7 50%); /* Opera 12+ */
    background: -ms-radial-gradient(0 0, ellipse cover,  #BBB 0%,#D7D7D7 50%); /* IE10+ */
    background: radial-gradient(ellipse at 0 0, #BBB 0%,#D7D7D7 50%); /* W3C */
}

.message a {
    color: #444;
}

.msgtxt a { text-shadow: 1px 1px 0px #8EC13E; }

.Key { color: #D9D919; }
.Common { color: #b0c3d9; }
.Uncommon { color: #5e98d9; }
.Rare { color: #4b69ff; }
.Mythical { color: #8847ff; }
.Legendary { color: #d32ce6; }
.Ancient { color: #eb4b4b; }
.Immortal { color: #e4ae39; }
.Arcana { color: #ade55c; }
.Warning { -webkit-box-shadow: 0px 0px 1px 2px #d12121; box-shadow: 0px 0px 1px 2px #d12121; }
.Legacy { -webkit-box-shadow: 0px 0px 1px 2px #FFF; box-shadow: 0px 0px 1px 2px #FFF; }
.Inscribed { -webkit-box-shadow: 0px 0px 1px 2px #CF6A32; box-shadow: 0px 0px 1px 2px #CF6A32; }
.Unusual, .Heroic, .Cursed { -webkit-box-shadow: 0px 0px 1px 2px #8650AC; box-shadow: 0px 0px 1px 2px #8650AC; }
.Elder { -webkit-box-shadow: 0px 0px 1px 2px #476291; box-shadow: 0px 0px 1px 2px #476291; }
.Genuine { -webkit-box-shadow: 0px 0px 1px 2px #4d7455; box-shadow: 0px 0px 1px 2px #4d7455; }
.Favored { -webkit-box-shadow: 0px 0px 1px 2px #FF0; box-shadow: 0px 0px 1px 2px #FF0; }
.Autographed { -webkit-box-shadow: 0px 0px 1px 2px #ADE55C; box-shadow: 0px 0px 1px 2px #ADE55C; }
.Self-Made { -webkit-box-shadow: 0px 0px 1px 2px #70B04A; box-shadow: 0px 0px 1px 2px #70B04A; }
.Ascendant { -webkit-box-shadow: 0px 0px 1px 2px #EB4B4B; box-shadow: 0px 0px 1px 2px #EB4B4B; }
.Frozen { -webkit-box-shadow: 0px 0px 1px 2px #4682B4; box-shadow: 0px 0px 1px 2px #4682B4; }
.Corrupted { -webkit-box-shadow: 0px 0px 1px 2px #A52A2A; box-shadow: 0px 0px 1px 2px #A52A2A; }
.Auspicious { -webkit-box-shadow: 0px 0px 1px 2px #32CD32; box-shadow: 0px 0px 1px 2px #32CD32; }

.item {
    -webkit-border-radius: 3px;
    color: #DFDFDF;
    border-radius: 3px;
    background: #272727;
    text-align: center;
    margin: 5px 1%;
    float: left;
    min-width: 60px;
    max-width: 99px;
    width: 18%; 
}

.item .smallimg {
    margin: 2px 2%;
    width: 96%;
}

.item .noimg {
    float: left;
    width: 100%;
    padding: 10px 0;
    height: 30px;
    color: #8EC13E;
    font-size: 0.8em;
    overflow: hidden;
}

.item .rarity {
    float: left;
    font-size: 0.65em;
    overflow: hidden;
    position: relative;
    margin-top: -1.5em;
    text-shadow: 0px 0px 1px;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

.notaviable {
    opacity: 0.5;
    z-index: 1;
}

.notaviable:hover .name .button {
    display: none;
}

.message.notaviable:hover .name {
    display: none;
}

.name, .opts, .infobox {
    display: none;
    position: absolute;
}

.name {
    font-size: 0.8em;
    max-width: 195px;
}

.name a {
    font-weight: bold;
    color: #333 !important;
    text-shadow: 1px 1px 1px #888;
}

.message:hover .opts, .info:hover .infobox  {
    text-align: center;
    z-index: 2;
    color: #252525;
    display: block;
    padding: 0.5em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ececec;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}

.item:hover .name {
    text-align: center;
    z-index: 2;
    color: #333;
    display: block;
    padding: 0.5em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ececec;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}

.clreff {
    float: left;
    font-size: 0.6em;
    padding: 2px;
    border-radius: 0 0 6px 0;
    margin: 2px;
    color: #EEE;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
}

#inprofile {
    float: left;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    border-top: 1px solid #CCC;
}

#satrade, .box-shiny-alt {
    float: left;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    border-top: 1px solid #CCC;
    background: #b2b2b2;
    background: -webkit-radial-gradient(40% 40%, ellipse cover,  #CCC 0%,#BBB 80%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(40% 40%, ellipse cover,  #CCC 0%,#BBB 80%); /* Opera 12+ */
    background: -ms-radial-gradient(40% 40%, ellipse cover,  #CCC 0%,#BBB 80%); /* IE10+ */
    background: radial-gradient(ellipse at 40% 40%, #CCC 0%,#BBB 80%); /* W3C */
}

.box-shiny-alt a {
    color: #333;
    text-shadow: 1px 1px 1px #888;
}

.tradepoll {
    min-height: 164px;
    float: left;
    margin: 0.5em 1% 20px 1%;
    width: 98%;
}

.tradepoll .item {
    width: 31.3%;
}

.tradecnt {
    float: left;
    width: 100%;
    background: url('../img/arrow.png') no-repeat 50% 50%;
    background-size: 7%;
}

.tradeheader, .bpheader {
    width: 98%;
    border-top: 1px solid #CCC;
    padding: 8px 1%;
    float: left;
    background: #e3e3e3;
    background: -webkit-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* Opera 12+ */
    background: -ms-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* IE10+ */
    background: radial-gradient(ellipse at top, #eee 0%,#d7d7d7 70%); /* W3C */
}

.tradeheader {
    font-size: 13px;
}

#offers a {
    color: #252525;
}

#tradelist a {
    color: #444;
    text-shadow: 1px 1px 0px #E5E5E5;
}

#tradelist {
    width: 96%;
}

.left {
    background: #BBB;
    float: left;
    width: 45%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.right {
    background: #BBB;
    float: right;
    width: 45%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
}

.button, .buttonright {
    color: #333 !important;
    float: left;
    margin: 0.4em;
    font-size: 13px;
    padding: 5px;
    text-shadow: 1px 1px 0 #BBB !important;
    box-shadow: 1px 2px 2px #666;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #b4b4b4; /* Old browsers */
    background: -webkit-linear-gradient(bottom,  #c3c3c3 0%,#a2a2a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  #c3c3c3 0%,#a2a2a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  #c3c3c3 0%,#a2a2a2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c3c3c3 0%,#a2a2a2 100%); /* W3C */
}

.buttonright {
    float: right;
}

.button:hover, .buttonright:hover {
    box-shadow: 0px 0px 3px #444;
    background: #BBB;
}

.button:active, .buttonright:active {
    background: #AAA;
}

.moveleft {
    position: relative;
    margin-top: -50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: -20%;
    background: #171717;
    padding: 5px;
    width: 30%;
    color: #8EC13E;
    display: none;
}

.addquality {
    position: absolute;
    font-size: 0.8em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #171717;
    padding: 5px;
    display: none;
    z-index: 2;
}

#satrade .item:hover .moveleft, #satrade .item:hover .addquality {
    display: block;
}

.filter {
    background: #333;
    border: none;
    float: right;
    width: 35%;
    padding: 5px;
    height: 20px;
    color: #9ad243;
    position: relative;
}

#btoggle {
    float: left;
    height: auto;
}

.srch {
    float: right;
    width: 98%;
    margin: 8px 1%;
    text-align: right;
}

.selectbox {
    background: none repeat scroll 0 0 #ccc;
    position: relative;
    border: none;
    color: #444;
    margin: 3px;
    font-size: 13px;
    padding: 3px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #888;
}

.selectbox:focus {
    background: #333;
    text-shadow: none;
    color: #AAA;
}

.box-shiny {
    float: left;
    width: 98%;
    margin: 0 1% 10px 1%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 2px #888;
    background: #a9a9a9;
    background: -webkit-radial-gradient(10% 110%, ellipse cover,  #999 0%,#bbb 40%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(10% 110%, ellipse cover,  #999 0%,#bbb 40%); /* Opera 12+ */
    background: -ms-radial-gradient(10% 110%, ellipse cover,  #999 0%,#bbb 40%); /* IE10+ */
    background: radial-gradient(ellipse at 10% 110%, #999 0%,#bbb 40%); /* W3C */
}

/*
* simple Pager navigation
*/
.simplePagerNav {
    list-style: none;
    float: left;
    margin: 0.5em 1% 0 1%;
}

.simplePagerNav li {
    float: left;
}

.simplePagerNav li a {
    float: left;
    color: #555;
    background: #BBB;
    text-shadow: 1px 1px 0 #CCC;
    margin: 2px;
    height: 18px;
    box-shadow: 1px 1px #888;
    padding: 4px;
    text-align: center;
    width: 18px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.simplePagerNav .currentPage a {
    opacity: 0.5;
}

.half {
    width: 48%;
    float: left;
    margin: 0.5em 1%;
}

.full {
    width: 98%;
    float: left;
    margin: 0.5em 1%;
}

/*
* BETS
*/
.match, .winnings {
    float: left;
    width: 100%;
    min-height: 75px;
    background-color: #BBB;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
}

.matchmain {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.match .item {
    width: 23%;
}
.match a {
    color: #252525;
}
.matchheader {
    float: left;
    width: 98%;
    padding: 1% 8px;
    border-top: solid 1px #ccc;
    background: #e3e3e3;
    background: -webkit-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* Opera 12+ */
    background: -ms-radial-gradient(top, ellipse cover,  #eee 0%,#d7d7d7 70%); /* IE10+ */
    background: radial-gradient(ellipse at top, #eee 0%,#d7d7d7 70%); /* W3C */
}
.matchleft {
    width: 70%;
    float: left;
    margin: 20px 1%;
}
.matchright {
    width: 28%;
    float: left;
    margin: 0.5em 1%;
}
.whenm {
    font-size: 13px;
    width: 50%;
    float: left;
    text-shadow: 1px 1px 0 #E5E5E5;
}
.tournament {
    width: 60%;
    float: right;
}
.betpoll {
    float: left;
    min-height: 10px;
    float: left;
    margin: 0.5em 1.5%;
    width: 97%;
}
.betpoll #active {
    min-height: 50px;
    display: block;
}
.betpoll .item {
    width: 23%;
}
.winsorloses {
    float: left;
    width: 31%;
    margin: 0.5em 1%;
    background: #BBB;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.winsorloses a {
    font-size: 0.8em;
}
.betheader {
    font-size: 1.0em;
    margin: 0.5em 2% 0 2%;
    width: 96%;
    float: left;
}
.team {
    width: 60px;
    height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.teamtext {
    background: rgba(187, 187, 187, 0.75);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.potwin {
    margin: 0 1%;
    font-size: 0.8em;
    padding: 3px;
    float: left;
    background: #171717;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#bets .item {
    width: 23%;
}

#replist {
    margin-left: 2em;
    line-height: 1.75em;
}

#replist a {
    color: #333;
}

#replist li:nth-child(even) {
    background: #CCC
}

.inputfield {
    color: #9AD243;
    border: none;
    background-color: #333;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}

/**
* SUBMENU
*/
.ads {
    margin: 20px;
}

#submenu {
    color: #888;
    font-size: 0.75em;
    width: 100%;
    float: left;
    background: #373737;
}
#submenu div {
    float: left;
}
#submenu a {
    color: #8EC13E;
    padding: 5px;
    border-bottom: 1px solid #252525;
    float: left;
}
#submenu a:hover {
    background-color: #2D2D2D;
}
#submenu #quick, #submenu hr, #submenu #friends {
    display: none;
}
#submenu span {
    padding: 5px 0 5px 5px;
    float: left;
}
footer {
    float: left;
}
#submenu #follow {
    display: none;
}

#submenu #follow a {
    padding: 0;
    border: none;
    height: 40px;
    float: left;
    background: url('http://cdn.dota2lounge.com/img/sprites.png') no-repeat;
}

#ftw:hover { background-position: 0 -40px !important; }
#ffb:hover { background-position: -44px -40px !important; }
#fvk:hover { background-position: -79px -40px !important; }

/*
* Guides
*/
.guide {
    display: inline-block;
    width: 48%;
    margin: 0.5%;
    color: #BBB;
    border-radius: 5px;
    background: #272727;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
}
.guide img {
    width: 96%;
    margin: 2%;
}
.guide h1 {
    margin: 0 2%;
    font-size: 1.3em;
    color: #8EC13E;
}
.guide p {
    font-style: italic;
    margin: 0 2% 2% 2%;
    font-size: 0.8em;
}
.guide a {
    color: #8EC13E;
}
.guide .rule {
    color: #d12121;
}

/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
    width: 40em;
    margin: 0 auto;
    font-size: 1.0em;
}
.ie h1 {
    /* 42px / 48px */
    font-size: 2.625em;
    line-height: 1.1428571428571428em;
    margin: 1.1428571428571428em 0 0.5714285714285714em;
}

footer {
    display: none;
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 48em) {
    body {
        background: url("../img/bsubbg.jpg") repeat-y scroll 100% 0 #d7d7d7;
        font-size: 0.95em;
    }
    #login, #logout {
        top: 11px;
    }
    #lang {
        right: 105px;
        top: 5px;
    }
    #skin {
        right: 149px;
        top: 5px;
    }
    #logo {
        height: 45px;
    }
    #menu li {

        height: 41px;
        margin-right: 10px;
    }
    #menu {
        font: 0.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #menu li  img{
        display: block;
        width: 24px;
        height: 30px;
        margin: 6px 3px;
    }
    #menu li span{
        float: left;
        margin: 14px 0 0 0;
    }
    #twoway {
        margin-right: 205px;
    }
    #main {
        margin-right: 205px;
    }
    /**
    * SUBMENU
    */
    footer, .ads {
        display: block;
    }
    #submenu {
        color: #888;
        font-size: 0.75em;
        padding-top: 5px;
        width: 200px;
        float: right;
        background: url('../img/sub.jpg') top no-repeat;
        min-height: 30px;
    }
    #submenu div {
        margin-top: 10px;
    }
    #submenu span {
        float: left;
        padding: 0;
        margin: 0 0 2px 10px;
    }
    #submenu a {
        padding: 0;
        float: none;
        border: none;
        background: none;
    }
    #submenu div a {
        padding: 8px 0 8px 10px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #252525;
        background-color: #2d2d2d;
        float: right;
        width: 190px;
    }
    #submenu div a:hover {
        background-color: #252525;
    }
    #submenu #quick {
        float: left;
        width: 100%;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        margin: 8px 0;
    }
    #submenu #quick textarea {
        width: 170px;
        margin: 10px;
        height: 50px;
        border: none;
        color: #888;
        background: #2D2D2D;
    }
    #submenu #quick input {
        width: 125px;
        margin: 0 10px 10px 10px;
        border: none;
        color: #888;
        background: #2D2D2D;
    }
    #submenu hr {
        margin: 10px 0;
        border: 0;
        display: block;
        border-top: 1px solid #555;
    }
    #submenu #quick, #submenu #friends {
        display: block;
    }
    #submenu #follow {
        display: block;
    }
    .item {
        width: 14.6%;
    }
    #armory .item { width: 14.666%; margin: 5px 1%; }
}

/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
    body {
        /* Reset baseline grid to 16/16 = 1.0 */
        font-size: 1em;
    }
    #menu li {
        height: 41px;
        margin-right: 10px;
    }
    #menu {
        font: 0.75em "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #menu li  img{
        width: 24px;
        height: 30px;
        margin: 6px 3px;
    }
    #menu li span{
        float: left;
        margin: 13px 0 0 0;
    }
    #profile, .box {
        width: 49%;
    }
    .guide {
        width: 23%;
    }
    .previewlink {
        display: block;
    }
}

/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
    body {
        font-size: 1em;
    }
    #logo {
        height: 60px;
    }
    #menu li {
        width: 70px;
        height: 60px;
    }
    #menu {
        font: 0.75em "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    #menu li  img{
        width: 33px;
        height: 40px;
        margin: 0 18px;
    }
    #menu li span{
        float: none;
    }

    #login {
        background-image: url(http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png);
        display: block;
        float: right;
        width: 114px;
        height: 43px;
        position: absolute;
        top: 10px;
        right:10px;
    }

    #logout {
        background-image: url(../img/logout_large_noborder.png);
        display: block;
        float: right;
        width: 114px;
        height: 43px;
        position: absolute;
        top: 10px;
        right:10px;
    }

    #lang {
        top: 15px;
        right: 135px;
    }
    #skin {
        top: 15px;
        right: 179px;
    }

    .item { width: 12.222%; }
    
    .tradepoll .item {
        width: 23%;
    }
}
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
    body {
        /* Zoom baseline grid to 17/16 = 1.0625 */
        font-size: 1em;
    }
    
    .item { width: 10.5%; }
    #armory { float: left; width: 84%; padding: 0 8%; }
    #armory .item { width: 12.666%; margin: 5px 2%; }
}

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
    #menu li {
        width: 70px;
        height: 60px;
    }
    #menu {
        font: 0.75em "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    #menu li  img{
        width: 33px;
        height: 40px;
        margin: 0 18px;
    }

    #menu li span{
        float: none;
    }
}